/* CSS Document */


.text_stylying
	{
	float:right;
	width: 500px;
	color: #FFF;
	text-align:center;
	vertical-align: middle;
	
	}
	

	
/*#wrapper
	{
	position:relative;
	width:1160px;
	height: 500px;
	border-style: solid;		
	}*/

	
.former2
	{
	width:300px;
	font-family: Bellerose;
	color: #FFF;
	float: right;
	font-weight: bold;
	margin: 50px;		
	}
.feedback_txt
{
	width:200px;
	position:relative;
	font-family: Bellerose;
	float: left;
	text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
	
	
	}
.tip
{
	width:400px;
	position:relative;
	font-family: Bellerose;
	float: left;
	
	
	
	}
.formButton
{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	font-weight: bolder;
	font-size: 14px;
	background-color: #333;
	border-color: #333;
	border-width: 5px;
	border-style: solid;
	margin-top: 20px;
}
.login
{
	font-family: Bellerose;
	color: #FFF;
	font-weight: bolder;
	font-size: 25px;
}
.textfield
{
	height: 300px;
	width: 350px;	
}
video#bgvid
 {
position: fixed; top: -17%; right: 0px; bottom: -28%;
float:top;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url('myroom.jpg') no-repeat;
background-size: cover;
}
.wrapper
{
	height: 100%;
	width: 380px;
	float: right;
	position: absolute;
	right: 0px;
	background-color: rgba(50,50,50,0.5);

}
#login
{
	position:relative;
	left:20%;
	top:20%;
}
.former
	{
	width:100px;
	font-family: Bellerose;
	color: #FFF;
	float: right;
	font-weight: bold;
	position:absolute;
	/*top:200px;*/
	right:220px;
	

		
	}
.image_stylying
	{	
	top:8%;
	position:absolute;
	float:left;		
		background-color:rgba(50,50,50,0.8);
		animation:mymove 3s ;
-webkit-animation:mymove 3s ; /* Safari and Chrome */
}

@keyframes mymove
{
from {left:-150px;}
to {left:0%;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {left:-150px}
to {left:0%;}
}
	}*/
	
